html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: rgb(69, 90, 92) !important;
}

.navbar-text {
  font-size: 1.2rem;
}

.navbar {
  color: #000;
}

.gradient {
  background: rgba(147, 76, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(147, 76, 255, 1) 0%,
    rgb(255, 192, 203) 100%
  );
}

.page-header,
.feature {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

.btn-rounded {
  padding: 0.6rem 1.2rem;
  background-color: rgb(255, 192, 203);
  color: rgba(147, 76, 255, 1);
  border: none;
  font-weight: 700;
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 2rem;
  height: auto;
}
.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
}

.services {
  color: #fff;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}
